<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <br>
        <h2 class="text-center">About Us</h2>
        <p>
          Welcome to our Todo App built with Angular! This app helps you manage your tasks and stay organized.
          With our user-friendly interface, you can easily add, delete, and update your todos.
          Whether it's for personal or professional use, our Todo App simplifies your task management process.
        </p>
        <p>
          Key Features:
          <ul>
            <li>Add new todos with titles and descriptions</li>
            <li>Mark todos as done or not done</li>
            <li>Delete todos you no longer need</li>
            <li>Edit existing todos to update their titles or descriptions</li>
            <li>Automatic data persistence using local storage</li>
          </ul>
        
        <p>
          Start organizing your tasks today and experience the convenience of our Todo App powered by Angular.
          Stay productive and make the most out of your day!
        </p>
      </div>
    </div>
</div>
  